{% extends "base.html" %}

{% block content %}
<div class="container container-inv animated fadeIn">
    <div class="row prof-wrap">
        <div class="col-md-12 prof-body">
			<div class="underline">
				<div class="highlight" style="font-size: 30px;">About</div>
			</div>
			<div style="padding-top: 5px; font-size: 20px">
				Previous services for tipping Bitcoin Cash to streamers have since went inactive, and the Bitcoin Cash portion no longer works. tipbitcoin.cash intends to solve this by making a BCH-only service. By Bitcoin Cashers, for Bitcoin Cashers. 
				<br>
				<br>
				tipbitcoin.cash Github: <a href="https://github.com/pokkst/tipbitcoin.cash">https://github.com/pokkst/tipbitcoin.cash</a>
				<br>
				tipbitcoin.cash Platform: <a href="https://tipbitcoin.cash">https://tipbitcoin.cash</a>
			</div>
		</div>
	</div>
</div>


{% endblock %}
