{% extends "base.html" %}

{% block content %}

<!--
{% for user in users: %}
	{{ user.nickname }} | {{ user.user_id }} | {{ user.tx_id }} | {{ user.timestamp }} | {{ user.amount }} | {{ user.twit_user }} | {{ user.twi_message }}
{% endfor %}
-->


<div class="container container-inv animated fadeIn" style="width:1500px;">

    <div class="row prof-wrap">
<div class="row prof-body">
	<div class="underline">
		<div class="col-md-2">
			#
		</div>
		<div class="col-md-2">
			Donator
		</div>
		<div class="col-md-2">
			Streamer
		</div>
		<div class="col-md-2">
			Tx ID
		</div>
		<div class="col-md-2">
			Amount
		</div>
		<div class="col-md-offset-3">
			Time
		</div>
	</div>
</div>

<div style="clear: both">
</div>
<div class="row don-body">

	{% for user in tx: %}
	<div class="col-md-2">
		{{ user.id }}
	</div>

		<div class="col-md-2">
			{{ user.twi_user }}
		</div>

		<div class="col-md-2">
			<a href="/user/{{ user.user_id }}">{{ user.user_id }}</a>
		</div>
		<div class="col-md-2">
			<a href="https://explorer.bitcoin.com/bch/tx/{{ user.tx_id }}">{{ user.tx_id | truncate(20) }}</a>
		</div>
		<div class="col-md-2">
		{% if user.token == "BCH" %}
			<div class="col-md-1" style="padding-left:0px;"><img src="https://i.imgur.com/EL9notj.png" height="15"></div>
		{% endif %}
		{% if user.token == "SPICE" %}
			<div class="col-md-1" style="padding-left:0px;"><img src="https://tokens.bch.sx/128/4de69e374a8ed21cbddd47f2338cc0f479dc58daa2bbe11cd604ca488eca0ddf.png" height="15"></div>
		{% endif %}
			{{ user.amount }} {{ user.token }}
		</div>
		<div class="col-md-offset-3">
			{{ user.timestamp }}
		</div>

<!-- {{ user.twi_message }}<br/> -->

{% endfor %}
</div>

</div>
</div>








{% endblock %}
