{% extends "base.html" %}

{% block content %}
<div class="section1" align="">
  <div class="container container-inv  fadeIn animated">
  <div class="col-md-6">
    <img src="static/img/logo.svg" class="img-responsive">
  </div>
    <div class="col-md-6">
      <div class="steps-wrapper" align="center">
        <h1 class="pb-2">Welcome to tipbitcoin.<span class="highlight">cash</span></h1>
        <h2 class="p-2">The Bitcoin Cash tipping service for livestreamers!</h2>
          <div class="steps">

            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="numberCircle">
                  1
                </div>
              </div>

              <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="cards">
                    Connect to <img src="static/img/streamlabs_logo-light.png" class="img-responsive" width="50%"/>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="numberCircle">
                  2
                </div>
              </div>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="cards">
                  <div class="col-md-12">
                    Connect your wallet
                  </div>
                  <div class="col-md-5">
                    <a href="https://crescent.cash"><img src="https://i.imgur.com/N2r2fuU.png" width="100%"></img></a>
                  </div>
                  <div class="col-md-2">
                    or
                  </div>
                  <div class="col-md-5">
                    <a href="https://electroncash.org"><img src="https://i.imgur.com/4idoww0.png" width="100%"></img></a>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="numberCircle">
                  3
                </div>
              </div>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="cards">
                    Profit!
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-12">
              </div>
              <div class="col-md-10 col-sm-10 col-xs-12" align="center">
                  <a class="btn btn-primary-cstm hvr-grow" href="/launch" role="button">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="container-fluid animated fadeIn section2"> 
    <div class="container">
      <div class="row">
        <div class="col-md-8">
       
              <iframe src="https://www.youtube-nocookie.com/embed/p89HvMMKXbA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" width="560" height="315" frameborder="0"></iframe>
    
        </div>
        <div class="col-md-4">
          <h1 class="highlight">
            Getting Started
          </h1>
          <h2 style="font-size:24px;">
            Linking your own Bitcoin Cash wallet to the tipbitcoin.cash system is easy! Find the Extended Public Key (xpub) in your wallet and paste it in your user settings.
          </h2><a href="/how"><h3 class="highlight">More info here!</h3></a>
        </div>
      </div>
        
    </div>
    </div>
  <!--
<div class="container-fluid section3 animated fadeIn">
  <div class="container">
    <div class="col-md-6">
      1
    </div>
    <div class="col-md-6">
      2
    </div>
  </div>
</div>
-->
<div class="footer animated fadeIn">
  <div class="container">
    <div class="col-md-4">
      <div>
        <a href="/">Home</a>
      </div>
      <div>
        <a href="/users">Streamers</a>
      </div>
      <div>
        <a href="/history">Donation History</a>
      </div>
      
    </div>
    <div class="col-md-4">
      <div>
        <a href="/how">Tutorial</a>
      </div>
      <div>
        <a href="/about">About</a>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <a href="https://twitter.com/tipbitcoincash"><i class="fab fa-twitter-square"></i> Twitter</a>
      </div>
    </div>
    <div class="col-md-12">
      <hr>
    </div>
    <div class="col-md-12">
      <div class="pull-left">
        <i class="fas fa-copyright"></i> 2019 tipbitcoin.<span class="highlight">cash</span> | All rights reserved.
      </div>
    </div>
  </div>
  </div>

</div>
{% endblock %}
