{% extends "base.html" %}

{% block head %}
{{super()}}


{% endblock %}
{% block content %}
  <script>
    var socialId = '{{ social_id }}';
  </script>
  <script>GetURL({{ social_id|tojson }});</script>
  <script>GetBannerURL({{ social_id|tojson }});</script>
  <script>GetStreamStatus({{ social_id|tojson }});</script>
<div class="container container-inv animated fadeIn">

    <div class="row prof-wrap">
        <div class="col-md-12 prof-title">
         <a href="/user/{{ nickname }}" id="Nickname">{{ nickname }}</a>
        </div>
        <div class="col-md-12 prof-header">
          <div class="row">
            <div id="ProfileBanner" class=""></div>
          </div>
        </div>
        <div class="col-md-12 prof-body">
            <div class="col-md-3">
              <center><img src="https://www-cdn.jtvnw.net/images/xarth/404_user_50x50.png" alt="" class="ProfilePicture img-responsive"/></center>
              <div>
                <center><i class="fab fa-twitch"></i><span> </span><a href="{{url_for('twitch', username=nickname)}}">https://twitch.tv/{{ social_id }}</a></center>
                <div id="Status"></div>
              </div>
            </div>
            <div class="col-md-5">
              <form role="form" id="user_form" action="#">
                <div class="form-group">
                  <label for="user_display">Name</label>
                  <input type="text" class="form-control" id="user_display" placeholder="Optional" maxlength="10">
                </div>
		<div class="form-group">
                  <!--<label for="user_identifier">Email</label>-->
		<!--This will no longer be used-->
                  <input type="hidden" class="form-control" id="user_identifier" placeholder="Optional: if empty, will be grouped as anonymous">
		</div>
                <div class="form-group">
                  <label for="user_message">Message</label>
                  <textarea maxlength="100" class="form-control" id="user_message" rows="3" placeholder="Optional"></textarea>
                </div>
                <div class="form-group">
                  <button id="showModalButton" class="btn btn-primary-cstm button1">Tip with Bitcoin Cash (BCH)</button>
                  <a href="/tip/{{ nickname }}" id="tip-again"  class="btn btn-primary-cstm button1">Tip again</a>
                  <a href="/" id="back-btn"  class="btn btn-primary-cstm button1">Back</a>

                </div>
                <div id="ReminderText"></div>
              </form>
            </div>
            <div class="col-md-4">
              <div class="card bg-inverse">
                <div class="card-block" id="addressLocation">
                  <div id="addressText">
                    <p>The address to send your Bitcoin Cash will appear <strong>here</strong> once you press the <span class="highlight">Tip with Bitcoin Cash (BCH)</span> button.</p>
                    <p>Please make sure that you've filled in the forms <strong>before</strong> hitting the button.</p>
                  </div>
                  <div id="randomInt"></div>
                  <div id="addressQR" class="py-3 centered"></div>
                  <div id="addressLink"></div>
                  <div id="formBox"></div>
                </div>
              </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}
